@import "https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css";

body {
	background-image: url("../images/train.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: #1f2937;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	background-color: rgba(255, 255, 255, 0.7); /* 헤더를 반투명하게 설정 */
	color: #1f2937;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10px);
}

nav a {
	color: #1f2937;
	transition: color 0.2s ease;
}

nav a:hover {
	color: #4b5563;
}

main .bg-white {
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	border-radius: 0.5rem;
}

main h2 {
	font-size: 1.25rem;
	font-weight: 700;
	margin-bottom: 1rem;
	color: #2e7d32;
}

main p,
main ul {
	margin-bottom: 0.5rem;
	color: #4b5563;
}

article h3 {
	color: #111827;
}

article p {
	color: #4b5563;
}

.grid a {
	display: block;
	text-align: center;
}

.grid img {
	width: 100%;
	height: 6rem;
	object-fit: cover;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid h3 {
	margin-top: 0.5rem;
	color: #2e7d32;
}

.swiper-container {
	width: 100%;
	height: 800px;
	position: relative;
	overflow: hidden;
	border-radius: 0.5rem;
}

.swiper-slide {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.slide-caption {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	font-size: 0.9rem;
	text-align: center;
}

.swiper-button-next,
.swiper-button-prev {
	color: #1f2937;
}
